/*  Base
  -----------------------

html, button, input, select, textarea
  font-family: $base-font-family
  color: $base-font-color

html
  /* This may cause problems in Firefox when combined with JS plugins (like modals or drag-and-drop UIs) that rely on viewport dimension calculations
  // overflow-y: scroll
  -webkit-font-smoothing: antialiased

body
  font-size: $base-font-size
  line-height: $base-line-height
  background-color: $bg-body

.container
  +container($total-columns, $break6, $break9, $break12)
  position: relative

  +at-breakpoint($break6)
    // +susy-grid-background

  +at-breakpoint($break9)
    // +susy-grid-background

  +at-breakpoint($break12)
    // +susy-grid-background

+with-grid-settings(12,4em,1em,1em)
  .new-grid
    +container

body:after
  content: ""
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 2.4em
  background-color: $bg-header
  opacity: .75
  z-index: -1000

#main h1
  +hidden

img
  vertical-align: middle


/*  Header
  -----------------------

// navigation in _navigation.sass

header
  height: 2.4em

.logo
  float: left
  margin: 0
  font-family: $leckerli
  font-size: 1.7em
  a
    +link-colors($orangish, $orangish, $orangish, $orangish, $orangish)


/*  Footer
  -----------------------

footer
  background-color: $bg-footer
  opacity: .75

  p, h2
    margin: 0

  ul
    +span-columns(4 omega, 4)
    margin-top: .25em
    text-align: center
    li
      display: inline-block
      padding: 0 .4em
      font-size: .85em
    li:first-child
      padding-left: 0
    +hidden

    +at-breakpoint($break6)
      +span-columns(6 omega, 6)
      +reveal-hidden

    +at-breakpoint($break9)
      +span-columns(4, 9)
      +reveal-hidden
      text-align: left

    +at-breakpoint($break12)
      +span-columns(3, 12)

  .slogan
    +span-columns(4 omega, 4)
    margin-top: .3em
    margin-bottom: .3em
    font-family: $leckerli
    font-size: 1.3em
    text-align: center
    color: $orangish

    +at-breakpoint($break6)
      +span-columns(6 omega, 6)

    +at-breakpoint($break9)
      +span-columns(5 omega, 9)
      margin-bottom: 0
      font-size: 1.3em
      text-align: right

    +at-breakpoint($break12)
      +span-columns(8 omega, 12)

  .copyright
    +span-columns(4 omega, 4)
    font-size: .75em
    color: $font-gray
    text-align: center

    +at-breakpoint($break6)
      +span-columns(6 omega, 6)

    +at-breakpoint($break9)
      +span-columns(4, 9)
      text-align: left

    +at-breakpoint($break12)
      +span-columns(4, 12)
