/*  Home
  -----------------------

.home-box
  // +span-columns(12 omega, 12)
  position: absolute
  bottom: 65px
  right: 0
  // margin-left: 15%

  +at-breakpoint($break6)


  +at-breakpoint($break9)


  +at-breakpoint($break12)

