%footer{:role => "contentinfo", :class => 'footer'}
  .new-grid
    %ul
      %li
        = link_to 'About', about_path, :title => ''
      %li
        = link_to 'Terms', terms_path, :title => ''
      %li
        = link_to 'Privacy', privacy_path, :title => ''
      %li
        = link_to 'Contact', contact_path, :title => ''
    %h2.slogan The Best Instagram Photos for Purchase
    %p.copyright &copy; A Thousand Words 2013
