= javascript_include_tag "site"

:javascript
  $("#home").backstretch([
    '#{asset_path("pics/pot-holder.jpg")}',
    '#{asset_path("pics/coffee.jpg")}',
    '#{asset_path("pics/dome.jpg")}'
    ], {
      fade: 500,
      duration: 10000
  });
